---
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import {Project} from '../components/Project.tsx';
import Technologies from '../components/Technologies.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<Header/>
		<main>
			<Body/>
			<Technologies/>
			<Project client:idle/>
		</main>
		<Footer/>
	</body>
</html>


<style>
	html{
		scroll-behavior: smooth;
	}
</style>
