---
import gitIcon from "../../public/icons8-github.svg"
import INIcon from "../../public/icons8-linkedin.svg"


const langMode = true
---

<footer>
	<div class="bg-gradient-to-t from-zinc-900 to-zinc-900/90 min-h-[5rem] flex flex-1 flex-wrap w-screen bottom-0" id="contact">
		<div class="flex-row flex m-auto w-full h-full justify-evenly footer-text-gradient text-lg font-bold items-center max-md:flex-col max-md:gap-1 max-sm:mt-[5px]">
			<p>
				{langMode ?
					(<>
						Gracias por su tiempo !
					</>) :
					(<>
						Thanks for your time !
					</>)}

			</p>
			<div class="flex flex-row gap-8 items-center max-sm:flex-col max-sm:gap-1 max-sm:mb-[5px]">
				<span> 
					{langMode ?
						(<>
							Mis datos:
						</>) :
						(<>
							Here you can contact me:
						</>)}
				</span>
				<ul class="flex flex-row gap-8 items-center">
					<li>
						<a href="https://www.linkedin.com/in/facundo-martinez-831775102/?locale=en_US" target="_blank" >
							<img src={INIcon.src} alt="Linkedin" class="hover:scale-105 hover:shadow-sm hover:shadow-cyan-300 transition-all duration-10000" />
						</a>
					</li>

					<li>
						<a href="https://github.com/faca1328" target="_blank" >
							<img src={gitIcon.src} alt="Git Hub" class="hover:scale-105 hover:shadow-sm hover:shadow-cyan-300 rounded-full transition-all duration-10000" />
						</a>
					</li>

					<li>
						<p class="font-semibold max-phone:whitespace-normal max-phone:flex-wrap-reverse"> facundoivanmartinez@hotmail.com </p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<style>
	.footer-text-gradient {
  background: rgb(51, 237, 223);
  background: linear-gradient(270deg, rgba(51,237,223,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 46%, rgb(51,237,223,1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
</style>
