---


const langMode = true


---
<nav class="flex p-4 w-screen items-center justify-between bg-gradient-to-t from-zinc-900 to-zinc-900/95 select-none max-phone:flex-col" id="home">

    <div class="flex ml-2 items-center max-sm:ml-1 max-phone:mb-2">

        <span class='ml-2 text-4xl font-bold cursor-default max-sm:ml-0 logo-gradient-dark'> fM </span>

        <div class="ml-10 flex max-sm:ml-0">
            <div class='navbar-items  duration-200 font-bold rounded-full logo-gradient-dark'>
                <a href="#technologies" class="ml-10 ">
                    {langMode ? 'Tecnologías' : 'Technologies'}
                </a>
            </div>
            <div class='navbar-items  duration-200 font-bold rounded-full logo-gradient-dark'>
                <a href="#projects" class="ml-10">
                    {langMode ? 'Proyectos' : 'Projects'}
                </a>
            </div>
            <div class='navbar-items  duration-200 font-bold rounded-full logo-gradient-dark'>
                <a href="#contact" class="ml-10">
                    {langMode ? 'Contacto' : 'Contact'}
                </a>
            </div>
        </div>
    </div>

</nav>

<style>
  .logo-gradient-dark {
    background-color: #acacac;
    background-image: linear-gradient(45deg, #acacac, #e4a24d);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .navbar-items:hover{
    transform: scale(1.1);
    border-radius: 20%;
    text-shadow: 0px 0px 20px rgba(255, 181, 83, 0.30);
  }

</style>